@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crafty+Girls&display=swap');

body{
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fafafa;
}

html,
body,
#root{
    height: 100%;
}