.authForm{
    display: flex;
    flex-direction: column;
    width: 60%;
    input{
        border: 0.5px solid #e5e9ea;
        background-color: #f4f5ff;
    }
}

.authFormMenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.btn-login {
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #886dea;
    border: #886dea;
    transition: 0.5s;
    &:hover{
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;

        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;

        background-color: #886dea;
        border: #886dea;
    }
}

.loginRegisterSelector{
    margin: 20px;
    font-weight: bold;
    cursor: pointer;
}