.headerProfile{
    width: 100%;
    height: 300px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profileAvatar{
    height: 150px;
    width: 150px;
    border-radius: 75px;
    margin-right: 10%;
}

.profileInfo{
    padding: 10px;
}

.profileInfoUsername{
    font-size: 28px;
}

.imagesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.imageCard{
    margin: 20px;
    height: 300px;
    width: calc(100% / 4 - 40px);
    img{
        width: 100%;
        height: 100%;
    }
}