@import './modules/body';
@import './modules/menu';
@import './modules/profile';
@import './modules/loader';
@import './modules/login';


.height100 {
    height: 100%;
}

.centerAll {
    display: flex;
    align-content: center;
    align-items: center;

    justify-content: center;
    justify-items: center;
}

[class*=" icon"],
[class^=icon] {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    stroke: #212529;
}

.activeClassNavLink {
    .icon {
        fill: red;
    }
}