@import './modules/body';
@import './modules/menu';
@import './modules/profile';
@import './modules/loader';
@import './modules/login';


.height100 {
    height: calc(100% - 10%);
}

.centerAll {
    display: flex;
    align-content: center;
    align-items: center;

    justify-content: center;
    justify-items: center;
}